table th {
  background-color: #fbc25b;
  padding: 20px 20px;
  margin: auto;
}

table td {
  background-color: #f9ecd5;
  padding: 20px 20px;
  margin: auto;
  text-align: center;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

ul {
  list-style: none;
  margin: auto;
}

div {
  margin: auto;
}
